# Visual Studio
.vs/
[Oo]bj/
[Bb]in/
.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store

# ReSharper
_ReSharper*/
*.ReSharper
*.DotSettings.user

# Rider
.idea/
*.sln.iml

# Other
*.swp
*~
